<%= render 'layouts/user_nav' %>
<%= provide(:name, '拼客')%>
<% if !current_user.nil? and get_user_type != 'manager' and !current_user.pass %>
<h4>验证身份中，请等待...</h4>
<% else %>

<%end%>
<%= render 'layouts/order_list' %>